/* screen-reader preset for accessibility */

.header-screen-reader {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* beginning of my CSS */

* {
    box-sizing: border-box;
    max-width: 1680px;
}

html {
    height: 100vh;
}

body {
    line-height: 1;
    font-size: 14px;
    font-family: 'Raleway Medium', sans-serif;
}

strong {
    font-family: 'Playfair Display Bold', serif;
    font-size: 34px;
}

em {
    font-family: 'Playfair Display Italic', serif;
    font-size: 34px;
    font-weight: 100;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 117px;
    width: 100%;
    padding-bottom: 0.4rem;
    padding-top: 0.7rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    z-index: 999;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

.header-logo-main {
    flex-wrap: nowrap;
    width: 50%;
    padding-bottom: .4rem;
}

.header-logo-main img {
    width: 120px;
    display: block;
}

.header-nav {
    flex-wrap: wrap;
    order: 1;
    width: 100%;
    border-top: 1px solid #d7d7d7;
}

.header-nav ul { 
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    padding-left: 0;
}

.header-nav li {
    padding-right: .8rem;
    padding-left: .8rem;
}

.header-nav a{
    color: #e2574c;
    text-decoration: none;
    text-transform: uppercase;
}

.header-nav a:hover{
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    color: #b64036;
}

.header-logo-shopping {
    flex-wrap: nowrap;
    text-align: right;
    width: 50%;
    background-color: #fff;
    padding-bottom: .4rem;
}

.header-logo-shopping img {
    height: 50px;
    cursor: pointer;
}

.hero-banner {
    background-image: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,.25)),url("../images/banner-girl.png"), url("../images/flower-bkgd.jpg");
    background-repeat: repeat, no-repeat;
    background-position: 60% 103%, 50% 60px;
    background-size: cover, 150px;  
    height: 399px; 
    width: 100%;
    padding-top: 56px;
    padding-bottom: 56px;
    margin-top: 117px;
}

.hero-banner-text {                                         /* text-shadow taken from example */
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 75%;
}

.hero-banner-text p:first-child {
    font-size: .9rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 21px;
}

.hero-banner-text p:nth-child(2) {
    font-family: "Playfair Display Regular",serif;
    font-size: 1.8rem;
    margin: 0;
}

.about {
    height: 230px;
    padding-top: 56px;
    padding-bottom: 56px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 4px;
    text-align: center;
    font-family: 'Raleway Light', sans-serif;
    font-size: 16px;
}

.about h3 {
    margin: 0;
    margin-bottom: 20px; 
}

.about p {
    line-height: 30px;
    margin: 0;
}

.shop  {
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    color: white;
    font-size: 23px;
}

.shop a {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
    position: absolute;
    left: 0;
    right: 0;
    top: 46%;
}

.shop a:hover {
    cursor: pointer;
    color: wheat;
}

.shop .rectangle {
    width: 100%;
    padding-bottom: 49.1%;
    position: relative;
    margin-top: 0;
    margin-bottom: 8px;
    background-size: cover;
    background-position: 50% 97%;
}

.shop .rectangle.mens {
    background-image: linear-gradient(rgba(0,0,0,.21),rgba(0,0,0,.21)),url('../images/mens-category.jpg');
    margin-top: 0;
    margin-bottom: 8px;
    margin-right: -2px;
}

.shop .rectangle.womens {
    background-image: linear-gradient(rgba(0,0,0,.21),rgba(0,0,0,.21)),url('../images/womens-category.jpg');
    margin-top: 8px;
    margin-bottom: 0;
}

.shop .square {
    width: 50%;
    position: relative;
    padding-bottom: 48.3%;
    background-size: cover;
}

.shop .square.trends {
    background-image: linear-gradient(rgba(0,0,0,.21),rgba(0,0,0,.21)),url('../images/trends-category.jpg'); 
    margin-top: 0;
    margin-bottom: 8px;
    margin-left: -4px;
    margin-right: 4px;
}

.shop .square.glasses {
    background-image: linear-gradient(rgba(0,0,0,.21),rgba(0,0,0,.21)),url('../images/glasses-category.jpg'); 
    margin-top: 0;
    margin-bottom: 8px;
    margin-left: 4px;
    margin-right: -4px;
}

.shop .square.sale {
    background-image: linear-gradient(rgba(0,0,0,.21),rgba(0,0,0,.21)),url('../images/sale-category.jpg'); 
    margin-bottom: 0;
    margin-top: 0px;
    margin-left: -4px;
    margin-right: 4px;
}

.shop .square.bags {
    background-image: linear-gradient(rgba(0,0,0,.21),rgba(0,0,0,.21)),url('../images/bags-category.jpg'); 
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 4px;
    margin-right: -4px;
}

.featured h3 {
    font-size: 36px;
    font-family: "Playfair Display REgular",serif;
    text-align: center;
    padding-top: 20px;
}

.featured ul{
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

.featured-headings-product-type {
    color: #969696;
    font-size: 11px;
}

.featured-headings-product-description {
    font-family: "Playfair Display Regular",serif;
    color: #e2574c;
    font-size: 22px;
}

.featured-headings-product-price {
    color: #969696;
}

.updates {
    background-image: linear-gradient(rgba(0,0,0,.18),rgba(0,0,0,.18)),url('../images/wave-bkgd.jpg');
    background-size: 1500px;
    background-position: 50% 97%;
    height: 332px;
    padding-top: 56px;
    padding-bottom: 56px;
    padding-left: 12px;
    padding-right: 12px;
    color: white;
    font-size: 16px;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}

.updates h3 {
    text-align: center;
    margin-bottom: 21px;
    margin-top: 0px;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}

.updates p {
    text-align: center;
    line-height: 30px;
    font-family: 'Raleway Light', sans-serif;
    margin: 0;
}

.updates form {
    text-align: center;
    padding-left: 29px;
    padding-right: 29px;
    margin-top: 30px;
}

.updates input[type=email] {
    width: 98%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    border-radius: 25px;
    border: none;
}

.updates input:focus{
    outline: none;
}

.updates input[type=email]::-webkit-input-placeholder {
    font-size: 14px;
    font-family: 'Raleway Light', sans-serif; 
    margin-left: 25px; 
}

.updates input[type=submit] {
    background-color: #e2574c;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 20.5px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 25px;
    border: none;
    margin-left: -115px;
}

.updates input[type=submit]:hover {
    background-color: #b64036;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-flow: column;
    color: white;
    font-family: "Playfair Display Regular",serif;
    line-height: 20px;
    background-color: #242424;
    height: 302px;
    margin-top: 8px;
    padding-top: 56px;
    padding-bottom: 56px;
}

.footer-info {
    text-align: center;
}

.footer-info a {
    color: white;
}

.footer-info a:hover {
    color: #b64036;
    cursor: pointer;
}

.footer-info p {
    margin: 0;
}

.footer-info p:nth-child(2) {
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer-info p:nth-child(3) {
    color: #969696;
}

.footer-social {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 28px;
    margin-bottom: 0px;
    padding-left: 0;
    padding-top: 13px;
}

.footer-social li {
    width: 28px;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.footer-social a {
    color: white;
}

.footer-social a:hover {
    color: #b64036;
    cursor: pointer;
}

.footer-social-text {
    visibility: hidden;
}

/* phablet sizing */

@media screen and (min-width: 600px){
    body {
        font-size: 16px;
    }

    strong, em {
        font-size: 40px;
    }

    .header {
        height: 84px;
    }

    .header-logo-main {
        width: 20%;
    }

    .header-nav {
        flex-wrap: nowrap;
        order: 0;
        width: 50%;  
        border-top: none;
        font-size: 14px;
    }

    .header-nav li {
        padding-right: .6rem;
        padding-left: .55rem;
    }

    .header-logo-shopping {
        width: 20%;
    }

    .hero-banner {
        margin-top: 84px;
        height: 400px;
        padding-top: 72px;
        padding-bottom: 72px;
        background-size: 700px, 150px;
        background-position: 60% 0%, 50% 60px;
    }

    .hero-banner-text p:first-child {
        font-size: 1rem;
        margin-bottom: 25px;
    }

    .hero-banner-text p:nth-child(2) {
        font-size: 2.4rem;
    }

    .about {
        height: 299px;
    }

    .about h3 {
        padding-top: 6px;
        padding-bottom: 1px;
        font-size: 44px;
    }

    .about p {
        font-size: 18px;
        line-height: 35px;
        max-width: 680px;
        margin: auto;
    }

    .shop {
        font-size: 30px;
    }

    .shop a {
        top: 39%;
    }

    .shop .rectangle {
        width: 50%;
        padding-bottom: 24.7%;
        margin-top: 0;
        margin-bottom: 8px;
    }

    .shop .rectangle.mens {
        margin-right: 0;
        border-right-style: solid;
        border-right-color: white;
        border-right-width: 4px;
    }

    .shop .square.trends {
        margin-left: 0;
        margin-right: 0;
        border-right-style: solid;
        border-right-color: white;
        border-right-width: 4px;
        border-left-style: solid;
        border-left-color: white;
        border-left-width: 4px;
    }

    .shop .square.glasses {
        margin-left: 0;
        margin-right: 0;
        border-left-style: solid;
        border-left-color: white;
        border-left-width: 4px;
    }

    .shop .square {
        width: 25%;
        padding-bottom: 24.7%;
    }

    .shop .square.sale {
        margin: 0;
        border-right-style: solid;
        border-right-color: white;
        border-right-width: 4px;
    }

    .shop .square.bags {
        margin: 0;
        border-left-style: solid;
        border-left-color: white;
        border-left-width: 4px;
        border-right-style: solid;
        border-right-color: white;
        border-right-width: 4px;
    }

    .shop .rectangle.womens {
        margin: 0;
        border-left-style: solid;
        border-left-color: white;
        border-left-width: 4px;
    }
    
    .updates {
        height: 379px;
    }

    .updates h3 {
        font-size: 44px;
        padding-top: 5px;
    }

    .updates p {
        font-size: 18px;
        line-height: 35px;
        margin: auto;
        max-width: 680px;
    }

    .updates form {
        padding-top: 35px;
        max-width: 700px;
        margin: auto;
    }

    .updates input[type=email] {
        width: 75%;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .updates input[type=email]::-webkit-input-placeholder {
        font-size: 16px;
    }
    
    .updates input[type=submit] {
        font-size: 16px;
        padding-top: 11px;
        padding-bottom: 11px;
        margin-left: -125px;
    }

    .footer {
        height: 287px;
        flex-direction: row;
    }

    .footer-info {
        width: 50%;
        max-width: 520px;
        text-align: left;
        padding-left: 18px;
    }

    .footer-info p {
        line-height: 24px;
    }

    .footer-info p:nth-child(2) {
        padding-top: 18px;
        padding-bottom: 18px;
    }

    .footer-social {
        flex-direction: column;
        align-items: flex-end;
        padding-top: 0;
        padding-right: 45px;
        width: 50%;
        max-width: 520px;
        font-family: 'Playfare Display Regular', sans-serif;
        font-weight: 100;
    }

    .footer-social li {
        width: 110px;
        text-align: left;
        padding-top: 5.5px;
        padding-bottom: 5.5px;
        font-size: 16px;
    }

    .fab {
        width: 30px;
    }

    .footer-social a {
        text-decoration: none;
        font-size: 18px;
    }

    .footer-social-text {
        visibility: visible;
    }
}

/* tablet sizing */

@media screen and (min-width: 615px){
    .about {
        height: 263px;
    }
}

/* desktop sizing */

@media screen and (min-width: 1240px){
    .header {
        height: 97px;
        padding-top: 16px;
        padding-bottom: 8px;
        justify-content: center;
    }

    .header-logo-main {
        width: 190px;
    }

    .header-logo-main img {
        width: 160px;
        padding-bottom: 5px;
    }

    .header-nav {
        font-size: 16px;
        width: 797px;
    }

    .header-nav li {
        padding: 18px;
    }

    .header-logo-shopping {
        width: 190px;
    }
    .header-logo-shopping img {
        width: 62px;
        height: 62px;
    }

    .hero-banner {
        height: 550px;
        margin-top: 97px;
        background-size: 850px, 250px;
        background-position: 50% 0%, 50% 60px;
    }

    .hero-banner-text p:first-child {
        margin-bottom: 20px;
    }

    .hero-banner-text p:nth-child(2) {
        font-size: 66px;
    }

    .updates {
        background-size: 1500px;
        background-position: 50% 97%;
        background-repeat: no-repeat;
        background-color: #96969660;
    }
}
