# Ignore system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*[Tt]humbs.db
*.Trashes
# Ignore npm packages
node_modules/
package-lock.json
# Ignore Designs
assets/images/aloha-desktop-1240px.png
assets/images/aloha-desktop-stretch.png
assets/images/aloha-mobile.png
assets/images/aloha-tablet-600px.png