/* screen-reader classes for accessibility */

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  clip: auto !important;
  display: block;
  height: auto;
  left: 5px;
  top: 5px;
  width: auto;
  z-index: 100000; /* above all content */
  text-decoration: none;
  text-transform: uppercase;
  color: #e2574c;
  font-size: 8px;
}

#about[tabindex='-1']:focus {
  outline: 0;
}
